<template name="blogControls">
    <section class="blog-controls">
        <header>
            {{#if published }}
                {{#if isScheduled}}{{_ 'scheduled'}}<b>{{formatDate date}}</b>{{else}}{{_ 'published'}}{{/if}}
            {{else}}
                {{_ 'not_published'}}
            {{/if}}
        </header>
        <section>
            <button title="Publish" id="publishPostBtn" class="rydm-btn rydm-publish">
                {{#if published}}
                <i class="fa fa-stop"></i>{{_ "unpublish"}}
                {{else}}
                <i class="fa fa-play"></i>{{_ "publish"}}
                {{/if}}
            </button>
            <button title="Delete" id="deletePostBtn">
                <i class="fa fa-trash"></i>{{_ 'delete'}}
            </button>
        </section>
        {{#unless published}}
        <footer>
            <input type="datetime-local" class="sched">
            <button title="Schedule" id="schedulePostBtn" class="rydm-btn rydm-publish">
                <i class="fa fa-time"></i>{{_ 'schedule'}}
            </button>
        </footer>
        {{/unless}}
    </section>
</template>
