<template name="blogListPostDefault">
    <header>
        {{> blogPostTitle}}
        {{> blogPostInfo}}
    </header>
    <summary>
        {{#if blogConfig 'showSummary'}}
            {{> blogPostSummary}}
        {{else}}
            {{> blogPostContent}}
        {{/if}}
        <a href="{{pathFor 'blogPost' slug=slug year=year month=month}}" class="btn-flat rydm-btn">
            <i class="material-icons btn-icon">more_horiz</i>
            {{_ "read_more"}}
        </a>
    </summary>
    <footer>
        {{> blogPostEdited}}
    </footer>
</template>

<template name="blogList">
    <section class="blog-list">
        {{#if authorLoggedIn}}
            <a href="" title="{{_ "new"}}" id="newBlogPostBtn" class="btn-floating left btn-large waves-effect waves-light orange tooltipped"
            data-position="right" data-tooltip="{{_ "new"}}">
                <i class="material-icons">add</i>
            </a>
        {{/if}}
        {{#each posts}}
            <section class="blog-post">
                {{#if authorLoggedIn}}
                    {{> blogControls }}
                {{/if}}
                {{> Template.dynamic template=postTemplate data=this}}
            </section>
        {{else}}
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        {{/each}}
    </section>
</template>
