<template name="blogPostWrapper">
    {{#if Template.subscriptionsReady}}
    {{#with post}}
    {{#if authorLoggedIn}}
    <header>
        {{> blogControls this}}
    </header>
    {{/if}}
    <section class="blog-post">
        {{> Template.dynamic template=postTemplate data=this}}
    </section>
    {{/with}}
    {{else}}
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
    {{/if}}
</template>

<template name="blogPostDefault">
    <header>
        {{> blogPostTitle}}
        {{> blogPostInfo}}
        {{> blogPostSummary}}
    </header>
    <section>
        {{> blogPostContent}}
    </section>
    <footer>
        {{> blogPostEdited}}
    </footer>
</template>
