<template name="blogPost">
    {{#if blogPostReady}}
    {{#with post}}
        <section class="blog-post">
            <header>
                {{#if isInRole 'mdblog-author'}}
                    {{> blogControls }}
                {{/if}}
                <h1 id="title" {{contenteditable}}>{{{title}}}</h1>

                <h3 id="summary" {{contenteditable}}>{{{summary}}}</h3>
            <span class="info">{{_ "posted_by"}}
                <span id="author" class="author" {{contenteditable}}>{{{author}}}</span>
                <time id="date">{{mdBlogDate date}}</time>
            </span>
                {{#if allowPictureUpload}}
                    <br />
                    <button title="Picture" id="mdblog-picture" class="{{mdBlogElementClasses 'button'}}">
                        <i class="fa fa-image"></i> {{_ "picture"}}
                    </button>
                    <input type="file" id="mdblog-file-input" style="display:none;" accept="image/*" multiple />
                {{/if}}
            </header>
            <article id="content" {{contenteditable}} data-markdown="true">
                {{{content}}}
            </article>
        </section>
    {{/with}}
    {{else}}
        {{_ "loading"}}
    {{/if}}
</template>
